* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  @font-face {
    font-family: "F1clasico";
    src: url(./assets/fonts/F1clasico.ttf);
  }
  @font-face {
    font-family: "F1textos";
    src: url(./assets/fonts/F1texto.ttf);
  }

  .navbar {
    font-family: "F1clasico";
  }

  .nav-link {
    color: black;
  }

  .container-footer {
    font-family: "F1textos";
    font-size: 16px;
    background-color: #EE0000;
    text-decoration: none;
    display: grid;
    grid-template-areas: "pagina reddit";
    grid-template-columns: auto auto;
  }
  
.container-pagina {
  display: grid;
  grid-area: "pagina";
  color: white;
  justify-content: center;
  text-decoration: none;
}

.container-comunidad {
  display: grid;
  grid-area: "reddit";
  color: white;
  justify-content: center;
  text-decoration: none;
}

.btn-primary {
  --bs-btn-color: none;
  --bs-btn-bg: none;
  --bs-btn-border-color: none;
  --bs-btn-hover-color: none;
  --bs-btn-hover-bg: #74ACDF;
  --bs-btn-hover-border-color: none;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: none;
  --bs-btn-active-bg: none;
  --bs-btn-active-border-color: none;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: none;
  --bs-btn-disabled-bg: none;
  --bs-btn-disabled-border-color: none;
}

a {
  text-decoration: none;
  color: white;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}


.card-img, .card-img-top {
  border-top-left-radius: var(--bs-card-inner-border-radius);
  border-top-right-radius: var(--bs-card-inner-border-radius);
}

.card-img, .card-img-bottom, .card-img-top {
  width: 100%;
}
.row-detalle>* {
  flex-shrink: 0;
  width: 50%;
  max-width: 50%;
  padding-right: calc(var(--bs-gutter-x)* .5);
  padding-left: calc(var(--bs-gutter-x)* .5);
  margin-top: var(--bs-gutter-y);
}